html,
body { 
  background-color: #6981D2;
}

/* .text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  } */

.navbar-brand-new {
    margin-left: 10px;
}


.bg-darkblue {
  background-color: #434285;
}