html,
body { 
  background-color: #6981D1;
}

.text-center {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.bg-darkblue {
  background-color: #434285;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  /* border-bottom-right-radius: 0; */
  /* border-bottom-left-radius: 0; */
  /* border-top-right-radius: 0; */
  /* border-top-left-radius: 0; */
}


/* btn-outline-light */
.btn-outline-light{
  color: #7E7BF7;
  background-color: white;
  border-color: #7E7BF7;
}
.btn-outline-light:hover, .btn-outline-light:focus,
.btn-outline-light:active, .btn-outline-light:active:focus, .btn-outline-light:active:hover, .btn-outline-light:active.focus,
.btn-outline-light.active, .btn-outline-light.active:focus, .btn-outline-light.active:hover, .btn-outline-light.active.focus,
.open > .dropdown-toggle.btn-outline-light,
.open > .dropdown-toggle.btn-outline-light:hover,
.open > .dropdown-toggle.btn-outline-light:focus,
.open > .dropdown-toggle.btn-outline-light.focus,
.btn-outline-light.disabled:hover, .btn-outline-light[disabled]:hover, fieldset[disabled] .btn-outline-light:hover,
.btn-outline-light.disabled:focus, .btn-outline-light[disabled]:focus, fieldset[disabled] .btn-outline-light:focus,
.btn-outline-light.disabled.focus, .btn-outline-light[disabled].focus, fieldset[disabled] .btn-outline-light.focus {
  background: #7E7BF7;
  color: white;
}
.btn-outline-light.outline{
  border: 3px solid #7E7BF7;
  color: #7E7BF7;
}

.main_layout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
