{% extends 'base.html' %}
{% block title %}Login{% endblock title %}

{% block content %}

    <h3>Login</h3>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p style="color: red">{{messages[0]}}.</p>
            {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <label for="checkbox">
                <input type="checkbox">Remember me
            </label>
            <button>Login</button>
        </form>
    </div>

{% endblock content %}
