{% extends 'base.html' %}
{% block title %}Sign Up{% endblock title %}

{% block content %}

    <h3>Sign Up</h3>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p style="color: red">{{messages[0]}}.</p>
            {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Sign Up</button>
        </form>
    </div>

{% endblock content %}
